# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock

# IDE
*.iml
.idea/
.vscode/

# Misc
.DS_Store
*.log
*.swp
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln
*.local

# Environment
.env
.env.local
.env.*.local
